visual_traider_v1/test_images/
visual_traider_v1/errors_data/
visual_traider_v1/logs/
visual_traider_v1/learn_data/
visual_traider_v1/test_data/
visual_traider_v1/test_results/
visual_traider_v1/Screen.png
ml/images/
ml/images.json
ml/DataForLearning/
ml/Data/
ml/DataFrames/
ml/Models/
ml/test_prediction/
test_opencv/09.07.24/
**/__pycache__/
*.pyc